.header {
    height: 4.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-bottom: 2px solid var(--medium-blue);
}

.header .profile-image {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-size: cover;
    margin-right: 2rem;
}

.project-model {
    visibility: hidden;
    position: absolute;
    transition: 0.4s ease-out;
    transition-duration: 0.3s;
    padding: 1rem 5px 5px 8px;
    right: 3.43rem;
    background-color: var(--secondary-bg-color);
}

.model-link-styling,
.link-styling {
    text-decoration: none;
    color: var(--nav-color);
    margin-right: 1.5rem;
}

.model-link-styling {
    margin-right: 0;
    font-size: 1.4rem;
}

.model-link-styling:hover,
.link-styling:hover {
    color: var(--logo-color);
}

.project-model:hover {
    visibility: visible;
}

.link-styling:hover+.project-model {
    visibility: visible;
}

.bars {
    display: none;
}

@media screen and (max-width:768px) {
    .routing-links {
        display: none;
    }
    .bars {
        display: block;
        margin-right: 1rem;
    }
    .header .profile-image {
        margin-right: 10px;
    }
}

@media screen and (max-width:500px) {
    .profile-image {
        display: none;
    }
}